
#debug-container {
    position: fixed;
    top: 1vh;
    right: 0px;
    min-width: 9vw;
}

#info-container {
    background-color: #aaaaaacc;
    border-radius: 15px 0 0 15px;
    color: black;
    padding: 5px 5px 15px 15px;
}

#remote-container {
    background-color: #aaaaaacc;
    border-radius: 15px 0 0 15px;
    margin-top: 15px;
    padding: 30px;
}
