
html {
    background-color: #1a1a1a;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.btn-remote {
    margin: 5px;
}

.input-action {
    margin: 5px;
    max-width: 100px;
}

.btn-action {
    width: 100%;
}

.sep-remote > hr {
    margin: 15px;
}

#threejs-canvas {
    height: 100%;
    width: 100%;
    outline: none;
    display: block;
}

.unselectable {
    -drag: none;  
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}